@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1"> Welcome to E_K9's Merch and Knicknacks!</h1>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            
            <th scope="col">Product Type</th>
            <th scope="col"> Website Price</th>
           
        </tr>
    </thead>
    <tbody>
        <tr>
          
            <td>Kitten Statue</td>
            <td>19.99$</td>
            
        </tr>
        <tr>
            <
            <td>Replicated Human Skull</td>
            <td>142.95$</td>
            
        </tr>
    </tbody>
</table>
</div>