@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1"  style="color: purple"> Welcome to E_K9's Merch and Knicknacks!</h1>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            
            <th scope="col">Product Type</th>
            <th scope="col"> Website Price</th>
           
        </tr>
    </thead>
    <tbody>
        <tr>
          
            <td>Kitten Statue</td>
            <td>19.99$</td>
            
        </tr>
        <tr>
            <
            <td>Replicated Human Skull</td>
            <td>142.95$</td>
            
        </tr>
    </tbody>
</table>

</div>

<div class="text-center lead">
<p> <em> 
    Lorem ipsum odor amet, consectetuer adipiscing elit. Mattis pretium non 
    integer pharetra scelerisque libero dignissim efficitur. 
    Curae torquent lacinia consequat volutpat sociosqu accumsan commodo dis taciti. 
    Fringilla mattis malesuada curabitur nulla taciti risus mauris scelerisque elementum. 
    Imperdiet facilisis mattis imperdiet euismod donec arcu primis. Fermentum amet molestie dis; 
    elit sapien eget. 
    Sapien vulputate non cras magnis mattis pretium mi. Primis quis magnis congue elementum lacinia.
</em></p>
</div>